@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;700&display=swap');

:root {
    --oracle-red: #F80000;
    --ilom-blue: #314358;
    --ilom-sidebar: #4a5a6a;
    --ilom-bg: #f0f0f0;
}

/* ФИКС ВЫСОТЫ ДЛЯ ТЕЛЕФОНОВ */
html, body {
    height: 100%;
    height: -webkit-fill-available;
    overflow: hidden;
    position: fixed; /* Запрет скролла всей страницы */
    width: 100%;
}

body {
    background-color: var(--ilom-bg);
    color: #333;
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
}

main {
    height: calc(100svh - 3.5rem); /* Динамическая высота за вычетом хедера */
}

header {
    background-color: var(--ilom-blue) !important;
    border-bottom: 1px solid #243242 !important;
}

aside {
    background-color: var(--ilom-sidebar) !important;
    border-right: 1px solid #3a4a5a !important;
}

nav div:hover {
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

#terminal-out {
    background-color: #ffffff !important;
    border: 1px solid #ccc !important;
}

#cmd-input {
    text-transform: uppercase;
}

::-webkit-scrollbar-thumb { background: #bbb; }
::-webkit-scrollbar-thumb:hover { background: var(--oracle-red); }

/* Адаптив для мелких экранов */
@media (max-width: 768px) {
    section { padding: 0.75rem !important; }
    #terminal-out { font-size: 11px !important; }
}